@import "styles/variables";

.main {
  :global div {
    color: $text-color;
  }

  :global label {
    color: $text-color;
  }

  :global small {
    color: $text-color;
    font-weight: 100;
    font-size: 0.7rem;
  }
}

.strong {
  color: $text-color !important;
  font-weight: 800 !important;
}