@import 'styles/variables';

.cancelButton {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
}

.listBoxContainer {
  height: 36vh;
  background-color: map-get($theme-colors, 'light');
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.listBox {
  height: 36vh;
  background-color: map-get($theme-colors, 'light');
  width: 100%;
  overflow-y: auto;
}

.cancelButton path {
  color: $secondary-color;
}
