@import '../../styles/variables.scss';

.item {
  position: relative;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: rgba(map-get($theme-colors, 'secondary'), 0.1);
  }
}

.itemName {
  color: map-get($theme-colors, 'dark');
  margin-right: 0.5rem;
}

.selectionContainer {
  height: 67%;
}

.selectionMedia {
  height: 42%;
}

.countryMapImage {
  filter: invert(60%) sepia(61%) saturate(608%) hue-rotate(178deg)
    brightness(95%) contrast(90%);
}
