@import 'styles/variables';

.bundleCardContainer {
  background-color: map-get($theme-colors, 'orange');
  border-radius: 6px;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: $text-color;
  border: #ffffff solid 3px;

  &:disabled {
    background-color: map-get($theme-colors, 'secondary');
    cursor: not-allowed;
    border: none;

    :global * {
      color: #B7C2CE !important;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;

    :global * {
      font-size: 0.9rem !important;
    }
  }
}

.selected {
  outline: map-get($theme-colors, 'info') solid 4px !important;
}

.cardCol {
    display: flex;
    justify-content: center;
    align-items: center;
}