@import 'styles/variables';

.bundlesSection {
  background-color: $primary-color;
  height: 100vh;
  overflow: hidden;
  padding-top: 0 !important;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    height: 100% !important;
  }
}

.row {
  height: 100%;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    flex-direction: column !important;
  }
}

.bundlesSearch {
  height: 100%;
}

.firstStepContainer {
  height: 55%;
  margin-top: auto;
}

.infoPlate {
  color: $text-color;
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: center;
}

.orderButton {
  width: 60vw;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 0.8rem !important;
      width: 40vw !important;
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    font-size: 0.8rem !important;
    width: 50vw !important;
  }
}

.cancelButton {
  width: 20vw;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 0.8rem !important;
    width: 20vw !important;
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    font-size: 0.8rem !important;
    width: 30vw !important;
  }
}