@import "styles/variables";

.bundlesSection {
  background-color: $primary-color;
  height: 100vh;
}

.row {
  height: 100%;
}

.bundlesSearch {
  height: 100%;
}

.firstStepContainer {
  height: 55%;
  margin-top: auto;
}

.infoPlate {
  color: $text-color;
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: center;
}
