@import "styles/variables";

.price {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.whiteSpaceNowrap {
  white-space: nowrap;
}

.roamingCountriesHeader {
  font-weight: 900;
  margin-bottom: 0.875rem;
  text-align: center;
}

.bundlesScroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 90vw;
  height: 8.8rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.bundlesScroll::-webkit-scrollbar {
  display: none;
}

.bundlesContainer {
  width: 100%;
}

