.arrowButtonRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrowButtonLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bundleCardWrapper {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%) !important;
  width: 90%;
  border-radius: 0.375rem;
}
