@import 'styles/variables';

.main {
  height: 58vh;

  :global * {
    color: $text-color;
  }

  :global .MuiDataGrid-root {
    border: none;
  }

  :global .MuiDataGrid-columnSeparator--sideRight {
    left: -12px !important;
    right: unset !important;
  }

  :global .MuiTablePagination-actions {
    direction: ltr;
  }

  :global .MuiDataGrid-row {
    transition: background-color 0.2s ease-in-out;
  }

  :global .MuiDataGrid-row:nth-child(even) {
    background-color: rgba(map-get($theme-colors, 'primary'), 0.3);
  }

  :global .MuiDataGrid-cell:focus {
    outline: none !important;
  }

  :global .MuiDataGrid-cell:focus-within {
    outline: none !important;
  }

  :global .css-levciy-MuiTablePagination-displayedRows {
    margin-bottom: 0;
  }
}

.button {
  color: #0d6efd;
}
