@import '../../styles/variables.scss';

.qnaSection {
  background-color: $background-color;
  height: 100%;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    height: 100% !important;
  }
}

.qnaImage {
  width: 57%;
  margin-right: auto;
  margin-left: auto;
}

.qnaColor {
  color: $text-color;
}
