@import "styles/variables";

.navbar {
  height: 4rem;
  transition: all .6s;
  opacity: .8;
}

.navLinkTextDark {
  color: rgba(0, 0, 0, 0.8) !important;

  &:hover {
    color: map-get($theme-colors, 'blue') !important;
  }
}

.navLinkTextLight {
  color: map-get($theme-colors, 'light') !important;

  &:hover {
    color: map-get($theme-colors, 'blue') !important;
  }
}
