@import "styles/variables";

.navbar {
  height: 4rem;
  transition: all .6s;
  opacity: .8;

  :global .navbar-nav .nav-link.active {
    font-weight: 800;
    font-size: 0.9rem;
  }
}

.navLinkTextDark {
  color: rgba(0, 0, 0, 0.8) !important;

  &:hover {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.navLinkTextLight {
  color: #ffffff !important;

  &:hover {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.login {
  margin-left: 2rem;
}
