@import 'styles/variables';

.navbar {
  height: 4rem;
  transition: all 0.6s;
  opacity: 0.8;
  z-index: 1000;

  :global .navbar-nav .nav-link.active {
    font-weight: 800;
    font-size: 0.9rem;
  }

  :global .navbar-collapse {
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      background-color: rgba($background-color, 0.9);
    }
  }

  :global .navbar-brand {
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      display: none !important;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    padding: 0 !important;
  }
}

.navLinkTextDark {
  color: rgba(0, 0, 0, 0.8) !important;

  &:hover {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.navLinkTextLight {
  color: #ffffff !important;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    color: $primary-color !important;
  }

  &:hover {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.login {
  margin-left: 2rem;
}
