@import "styles/variables";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.9rem 1rem;
  border-radius: .6rem;
  background-color: map-get($theme-colors, "primary");
  width: 90vw;
  margin-bottom: 1rem;

  :global * {
    color: #ffffff !important;
  }
}

.strongText {
  vertical-align: middle;
}

.section.closed {
  padding: 0;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: .5rem;
  width: 100%;
  transform: none;
  background: transparent;
  border: none;
}