.button {
  width: 5rem;
  background: transparent;
  border: none;
  text-decoration: underline;
  font-size: 0.875rem;
  margin: 0;
}

.strongText {
  vertical-align: middle;
}

.data {
  margin-right: .4rem;
  vertical-align: middle;
}

.data.infinitySign {
  font-size: .9rem;
}