@import 'styles/variables';

.timelineItem {
  position: relative;
  height: 30%;
  width: 20%;
  border-radius: 2rem;
  background-color: $primary-color;
  @include shadow;
}

.timelineItemText {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.timelineItemText h2,
.timelineItemText p {
  color: $background-color;
}

.timelineContent {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  transition: display 0.3s;
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  border-radius: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
