@import "../../styles/variables.scss";

.timeline {
  margin: 50px 60px;
  height: 0.85rem;
  background-color: map-get($theme-colors, 'secondary');
}

.timelineProgress {
  width: 33%;
  height: 100%;
  background-color: map-get($theme-colors, 'primary');
}

.timelineItems {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -13%;
  display: flex;
  justify-content: space-between;
}
