@import "styles/variables";

.main {
  :global .btn path {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.copyButton {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: .875rem;
  display: flex;
  justify-content: center;

  &:hover {
    background: transparent;
    border: none;
  }
}