@import "styles/variables";

.main {
  background-color: map-get($theme-colors, 'orange');
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  @include shadow;

  :global * {
    color: #ffffff !important;
  }
}

.cardLink {
  text-decoration: none;
  color: #ffffff;
  scale: 1;
}

.title {
  margin-bottom: 1.5rem;

  &:hover {
    color: map-get($theme-colors, 'primary') !important;
  }
}

.description {
  font-size: 0.875rem;
}

.coverImage {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}