@import "styles/variables";

.container {
  padding: 1.5rem;
  cursor: pointer;
  background-color: map-get($theme-colors, 'orange');
  border-radius: 6px;
  scale: 1;
  height: 15rem;
  @include shadow;

  :global * {
    color: #ffffff;
  }
}

.coverImage {
  margin-bottom: 1rem;
  width: 10rem;
  height: 70%;
  object-fit: cover;
}

.postTitle {
  margin-bottom: 1rem;
}