@import "styles/variables";

.main {
  display: flex;
  margin-top: 2rem;
  height: 20%;

  :global svg {
    width: 3rem;
    height: 3rem;
  }

  :global * {
    font-size: 0.7rem;
  }
}

.icon {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 0.875rem !important;
  font-weight: 900 !important;
  margin-bottom: 0.5rem;
}

.column {
  width: 25%;

}

.empty {
  content: '';
  width: 100%;
  height: 130px;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    height: 150px;
  }
}