@import 'styles/variables';

.main {
  :global div {
    color: $text-color;
  }

  :global label {
    color: $text-color;
  }

  :global small {
    color: $text-color;
    font-weight: 100;
    font-size: 0.7rem;
  }

  :global strong {
    color: $text-color !important;
    font-weight: 800 !important;
  }
}

.orderModalRow {
  margin-top: 1rem;

  :global * {
    color: $text-color !important;
  }
}

.orderModalRow {
  font-weight: 700;
}

.omFieldTitle {
  display: flex;
  align-items: center;
  composes: orderModalRow;
  font-weight: 700;
  margin-top: 0;
}

.bundleTextPrice {
  text-align: center;
  margin: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.bundleTextDestination {
  font-size: 1.4rem;
  font-weight: 800;
}

.bundleData {
  display: flex;
  background-color: map-get($theme-colors, 'orange');
  border-radius: 6px;

  :global div {
    color: #ffffff !important;
  }
}

.countryText {
  margin: auto 0;
  font-weight: 200;
  font-size: 0.81rem;
}

.dateInput {
  width: 45%;

  :global path {
    color: $text-color !important;
  }
}

.amountDaysText {
  display: inline;
  font-weight: 200;
  font-size: 0.81rem;
}

.submitButton {
  color: #ffffff !important;
}

.couponButton {
  color: #587B29 !important;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    margin-top: 1rem;
  }

  &:hover {
    color: map-get($theme-colors, 'light') !important;
  }
}

.couponSuccess {
    color: map-get($theme-colors, 'success') !important;
}

.errorMessage {
  color: map-get($theme-colors, 'danger') !important;
  font-size: 0.7rem;
  margin-top: 0.1rem;
}

.spinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusIconSuccess {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global svg {
    height: 1.5rem;
  }

  :global path {
    color: map-get($theme-colors, 'success');
  }
}

.statusIconWarning {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global svg {
    height: 1.5rem;
  }

  :global path {
    color: map-get($theme-colors, 'danger');
  }
}

.modalFooter {
  display: flex;
  justify-content: space-between;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
      justify-content: center;
  }
}

.agreementCheckbox {
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    margin-bottom: 1rem;
  }
}

.roamingCountries {
  :global .accordion {
    border: 1px solid #000000;
  }

  :global .accordion-button::after {
    background-color: #000000;
    -webkit-mask-image: url('/plus.svg');
    mask-image: url('/plus.svg');
    background-image: none;
  }
}
