@import 'styles/variables';

.main {
  :global div {
    color: $text-color;
  }

  :global label {
    color: $text-color;
  }

  :global small {
    color: $text-color;
    font-weight: 100;
    font-size: 0.7rem;
  }

  :global strong {
    color: $text-color !important;
    font-weight: 800 !important;
  }
}

.orderModalRow {
  margin-top: 1rem;
}

.orderModalRow {
  font-weight: 700;
}

.omFieldTitle {
  display: flex;
  align-items: center;
  composes: orderModalRow;
  font-weight: 700;
  margin-top: 0;
}

.bundleText {
  margin-left: 1rem;
  font-weight: 200;
  font-size: 0.81rem;
}

.bundleTextPrice {
  margin-left: 1rem;
  font-weight: 800;

  :global * {
    color: $text-color !important;
  }
}

.countryText {
  font-weight: 200;
  font-size: 0.81rem;
}

.dateInput {
  width: 45%;

  :global path {
    color: $text-color !important;
  }
}

.amountDaysText {
  display: inline;
  font-weight: 200;
  font-size: 0.81rem;
}

.submitButton {
  color: $background-color !important;
}

.couponButton {
  color: map-get($theme-colors, 'success') !important;
  margin-top: 1rem;

  &:hover {
    color: map-get($theme-colors, 'light') !important;
  }
}

.couponSuccess {
    color: map-get($theme-colors, 'success') !important;
}

.errorMessage {
  color: map-get($theme-colors, 'danger') !important;
  font-size: 0.7rem;
  margin-top: 0.1rem;
}

.spinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusIconSuccess {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global svg {
    height: 1.5rem;
  }

  :global path {
    color: map-get($theme-colors, 'success');
  }
}

.statusIconWarning {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global svg {
    height: 1.5rem;
  }

  :global path {
    color: map-get($theme-colors, 'danger');
  }
}
