@import 'styles/variables';

.wrapper {
  background-color: $background-color;
  min-height: $page-height;
  height: 100%;
  padding: 1rem;

  @media (max-width: map-get($grid-breakpoints, "xl")) {
    height: 100%;
  }

  :global * {
    color: $text-color;
  }
}

.container {
  width: 75%;
  height: 100%;
}
