@import "styles/variables";

.main {
  padding: 1rem;
  background-color: $background-color;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global * {
    color: $text-color;
  }
}

.qnaImage {
  width: 27%;
  margin-right: auto;
  margin-left: auto;
}
