@import 'styles/variables';

.main {
  background-color: $background-color;
  height: 100%;

  :global * {
    color: $text-color;
  }

  :global .nav-link {
    &:hover {
      color: $primary-color;
    }
  }
}

.container {
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    display: block !important;
  }
}

.containerRow {
  width: 50%;
  margin-left: auto;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    flex-direction: column !important;
    margin: auto;
  }
}

.contactDetails {
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    flex-direction: row !important;
  }
}

.iconWrapper {
  width: fit-content;
}

.iconContainer {
  height: 2rem;
}

.submitButton {
  color: #ffffff;
}

.textArea {
  background-color: $background-color;
  color: $text-color;
  position: relative;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.5rem;
  border: 3px solid $secondary-color;
  border-radius: 0.5rem;
  width: 100%;
  height: 4rem;
}

.buttonContainer {
  :global button {
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      text-align: center !important;
    }
  }
}