@import "styles/variables";

.main {
  background-color: $background-color;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  :global * {
    color: $text-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.button {
  color: #ffffff;
  width: 8rem;
  height: 3rem;
}