@import "custom";
@import "sections";

* {
  font-family: 'Arimo', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

:root {
  --nav-bg-color: $secondary-color;
  --bs-nav-link-font-size: 0.875rem;
}

.auto-complete-input {
  color: black;
}

.pin-space {
  padding-bottom: 300px;
}

.close-button {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.nav-link {
  color: map-get($theme-colors, 'light');
  padding: 0.2rem;

  &:hover {
    color: map-get($theme-colors, 'blue');
  }
}

.modal-header .btn-close {
  margin: 0
}

.modal {
  --bs-modal-bg: #F5F5F5;
}
