@use "hover/hover";
@use "~bootstrap/scss/bootstrap";
@import "custom";
@import "sections";

* {
  font-family: 'Arimo', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

:root {
  --timeline-bg-color: map-get($theme-colors, 'secondary');
  --bs-nav-link-font-size: 0.875rem;
}

#__next {
    height: 100vh;
}

.auto-complete-input {
  color: black;
}

.pin-space {
  padding-bottom: 300px;
}

.close-button {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.nav-link {
  color: map-get($theme-colors, 'light');
  padding: 0.2rem;

  &:hover {
    color: map-get($theme-colors, 'blue');
  }
}
