@import 'custom';
@import 'sections';

* {
  font-family: 'Arimo', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

:root {
  --nav-bg-color: $secondary-color;
  --bs-nav-link-font-size: 0.875rem;
}

a {
  color: #0B6CE4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.navbar {
  --bs-navbar-active-color: map-get($theme-colors, 'primary');
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0);
}

.navbar-nav {
  --bs-nav-link-hover-color: map-get($theme-colors, 'primary');
}

.accordion {
  --bs-accordion-active-color: #f5f5f5;
  --bs-accordion-active-bg: #4502c6;
  --bs-accordion-btn-bg: #4502c6;
  --bs-accordion-btn-color: #f5f5f5;

  & button {
    text-align: right;
  }
}

.accordion-button::after {
  margin-right: auto !important;
  margin-left: 0 !important;
  color: #ffffff;
  background-image: url("/plus.svg");
}

.accordion-button:not(.collapsed)::after {
  color: #ffffff;
  background-image: url("/plus.svg");
}

.accordion-collapse.collapse.show {
  background-color: #f5f5f5;
  color: $text-color !important;

  .accordion-body {
    color: $text-color !important;
  }
}

.nav-link {
  color: map-get($theme-colors, 'light');
  padding: 0.2rem;

  &.active {
    color: map-get($theme-colors, 'primary') !important;
  }

  &:focus {
    color: map-get($theme-colors, 'primary');
  }

  &:active {
    color: map-get($theme-colors, 'primary');
  }
}

a.dropdown-item {
  text-align: right;
}

.modal-header .btn-close {
  margin: 0;
}

.modal {
  --bs-modal-bg: #f5f5f5;
}

.MuiPopover-root {
  & li {
    color: $text-color;
  }
}

.dropdown-toggle::after {
  margin-right: 0.255rem;
}

body.trigger-position-left #enable-toolbar-trigger {
  left: 20px !important;

  @media (max-width: 767px) {
    left: 5px !important;
  }
}

#enable-toolbar-trigger {
  top: -15px !important;

  @media (max-width: 767px) {
    top: -5px !important;
  }
}

.keyboard-shorcut {
  color: #3A7CAD !important;
}

li.enable-button-highcontrast,
li.enable-button-blackyellow,
li.enable-button-readerview,
li.enable-button-website-ipv6,
li.enable-button-user-ipv6 {
  display: none !important;
}

div#enable-modal * {
  color: $text-color !important;
}

#react-select-5-listbox {
  z-index: 100;
}
