@import 'styles/variables';

.wrapper {
  padding: 1rem;
  background-color: $background-color;
  height: 100%;
  position: relative;
}

.container {
  color: $text-color;
  width: 75%;
  height: 100%;

  :global * {
    color: $text-color;
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 100%;

    :global ol {
      padding-inline-start: 10px ;
    }

    :global .lead {
      font-size: 1.05rem;
    }

    :global p {
      font-size: 0.9rem;
    }

    :global li {
      font-size: 0.8rem;
    }
  }
}

.upButton {
  background-color: map-get($theme-colors, 'primary') !important;
  position: fixed !important;
  bottom: 125px;
  right: 27px;

  :global svg {
    width: 20px;
  }
}
