@import 'styles/variables';

.wrapper {
  padding: 1rem;
  background-color: $background-color;
  height: 100%;
  position: relative;
}

.container {
  color: $text-color;
  width: 75%;
  height: 100%;

  :global * {
    color: $text-color;
  }
}

.upButton {
  background-color: map-get($theme-colors, 'primary') !important;
  position: fixed !important;
  bottom: 125px;
  right: 27px;
}
