@import 'variables';

.main {
  background-color: $background-color;

  :global h1 {
    color: $text-color;
  }
}

.signIn {
  height: $page-height;
  background-color: $background-color;

  :global * {
    color: $text-color;
  }
}

.formGroup {
  margin-bottom: 1rem;
}

.button {
  color: #ffffff;
}
