@import "./variables.scss";

#qna-section {
  & .accordion-item {
    border: none;
  }

  & .accordion-header {
    & .accordion-button {
      background-color: $primary-color;
      border-bottom-color: $primary-color;
      color: #ffffff;

      &:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
      }

      &:not(.collapsed) {
        background-color: $primary-color;
        color: #ffffff;

        &::after {
          position: absolute;
          left: 0.375rem;
          margin-right: 0.375rem;
          background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' role='img' xmlns='http://www.w3.org/2000/svg' aria-labelledby='plusIconTitle' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='%23ffffff' color='%23ffffff'%3E%3Ctitle id='plusIconTitle'%3EPlus%3C/title%3E%3Cpath d='M20 12L4 12M12 4L12 20'/%3E%3C/svg%3E");
        }
      }

      &::after {
        position: absolute;
        left: 0.375rem;
        margin-right: 0.375rem;
        background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' role='img' xmlns='http://www.w3.org/2000/svg' aria-labelledby='plusIconTitle' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='%23ffffff' color='%23ffffff'%3E%3Ctitle id='plusIconTitle'%3EPlus%3C/title%3E%3Cpath d='M20 12L4 12M12 4L12 20'/%3E%3C/svg%3E");
      }
    }
  }

  & .accordion-body {
    background-color: $background-color;
    color: $text-color;
  }
}

footer svg {
  fill: #ffffff;
  color: #ffffff;
  width: 20px;
  height: 20px;
}
